<html lang="en">
<head>
    <title>Django Girls blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <h1><a href="/">Django Girls Blog</a></h1>
        <br>
    </div>
    
    {% for post in posts  %}
        <div>
            <p>published: {{ post.published_date}}</p>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
            <br>
        </div>
    {% endfor %}
    
</body>
</html>